!!! html

%html
    %head
        %title SWIFT | Welcome
        %link{:rel => :stylesheet, :type => :"text/css", :href => "home.css"}

    %body
        .wrapper
            .nav
                %ul
                    %li 
                        %a{:href => "about.html"} About
                    %li
                        %a{:href => "pubs.html"} Publications
                    %li 
                        %a{:href => "talks.html"} Talks

            .central
                .central-content
                    %h1 Hello World

            .footer
                Footer Information
